@charset "ISO-8859-1";
body
{
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
	background: url('hotel.jpg');
	background-size: cover;
	
}
.signin
{
		background: rgba(44,62,80,0.7);
		padding: 40px;
		width: 250px;
		margin: auto;
		margin-top: 80px;
		height: 400px;
		margin-left: 180x;
}
form
{
	width: 240px;
	text-align: center;
}
input
{
	width: 240px;
	text-align: center;
	background: none;
	border-bottom: 1px solid #fff;
	font-family:'play',sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
input[type=button]
{
	border: none;
	width: 190px;
	background: white;
	color: #000;
	font-size: 16px;
	line-height: 25px;
	'padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}
input[type=button]:hover
{
	color: #fff;
	background-color: black;
}
h2
{
	color: white;
}
a
{
	color: yellow;
	text-decoration: blink;
}
a:hover
{
	color: skyblue;
}
.container
{
	display: flex;
	flex-direction: row;
	width: 100%;
}
::placeholder {
	color:aliceblue;
	opacity: 0.8;
}